In [4]:
subject=["ai","shkail","emran","ammu"]
for x in subject:
        print(x)

ai
shkail
emran
ammu

In [9]:
for i in range(-100,-9):
 print (i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11

In [11]:


total=0
for a in range(10,100):
	for b in range(2,a):
		if a%b==0:
			break
	else:
		total=total+a
print('the total of prime numbers from 10 to 100 :',total)

the total of prime numbers from 10 to 100 : 1043

In [12]:
#find the factorial of n!
num = int(input('Enter the number:'))
fact = 1
for i in range(num,0,-1):
    fact = i * fact
print(fact)

Enter the number:7
5040

In [17]:
data='pyhton'

for i in data:
    print('* * *')

* * *
* * *
* * *
* * *
* * *
* * *

In [34]:
len(data)

21

In [29]:
 data=' i love data science '
    
for i in range(len(data)):
     print(data[i])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

In [42]:
data='i love samira so much but she his very angry girl'
data=data.split()
for i in range(len(data)):
               print(data[i],i)

i 0
love 1
samira 2
so 3
much 4
but 5
she 6
his 7
very 8
angry 9
girl 10

In [75]:
# 1 to 100 sum using python
x=int(input("enter the number of x: "))
sum=0
for i in x:
    sum=sum+i
    print(sum)

enter the number of x: 20

TypeError: 'int' object is not iterable

In [74]:
sum = 0
for i in range(1, 100):
    sum = sum + i
print(sum)

4950

In [69]:
n=[1,2,3,4,5,6,77,8,9,78,788]
total=0
for i in n:
    total=total+i
    print(total)

1
3
6
10
15
21
98
106
115
193
981

In [77]:
for i in range(10):
    print('data science',i)

data science 0
data science 1
data science 2
data science 3
data science 4
data science 5
data science 6
data science 7
data science 8
data science 9